<ng-container *ngIf="errorMessage$ | async as errorMessage">
    <p-message severity="error" text="{{errorMessage.errorMessage}}"></p-message>
    <p-message severity="error" text="{{errorMessage.userFriendlyMessage}}"></p-message>
</ng-container>

<p-panel header="Selectie criteria">
    <form [formGroup]="prospectForm">
        <h5>Alle competities</h5>
        <div class="p-field p-grid">
            <div class="p-col">
                <p-inputSwitch id="allLeagueId" formControlName="allLeagues"></p-inputSwitch>
            </div>
        </div>
        <h5>Resultaat</h5>
        <div class="p-formgroup-inline">
            <div class="p-field-checkbox">
                <p-radioButton name="resultGames" id="notLost" formControlName="resultGames" value="notLost"></p-radioButton>
                <label for="notLost">Niet verloren</label>
            </div>
            <div class="p-field-checkbox">
                <p-radioButton name="resultGames" id="won" formControlName="resultGames"  value="won"></p-radioButton>
                <label for="won">Gewonnen</label>
            </div>
        </div>
        <h5>Aantal wedstrijden</h5>
        <div class="p-field-checkbox">
           <p-dropdown [options]="totalGames" formControlName="selectedGames"></p-dropdown>
        </div>
    </form>
</p-panel>
<p-divider></p-divider>
<p-tabView>
    <p-tabPanel header="Geselecteerde leagues">
        <div class="p-grid">
            <div class="p-col-12">
                <button pButton type="button" label="Expand all" (click)="expandAllSelected()" style="margin-right: .5rem"></button>
                <button pButton type="button" label="Collapse all" (click)="collapseAllSelected()"></button>
            </div>
            <div class="p-col-12">
                <p-tree [value]="leaguesSelectedTree">
                    <ng-template let-node  pTemplate="default">
                        {{node.label}}
                    </ng-template>
                </p-tree>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Niet geselecteerde leagues">
        <div class="p-grid">
            <div class="p-col-12">
                <button pButton type="button" label="Expand all" (click)="expandAllNonSelected()" style="margin-right: .5rem"></button>
                <button pButton type="button" label="Collapse all" (click)="collapseAllNonSelected()"></button>
            </div>
            <div class="p-col-12">
                <p-tree [value]="leaguesNonSelectedTree">
                    <ng-template let-node  pTemplate="default">
                        {{node.label}}
                    </ng-template>
                </p-tree>
            </div>
        </div>
    </p-tabPanel>
</p-tabView>
