<p-panel header="Teams">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="page-header">
                <h1>Kies uit volgende competitie(s)</h1>
            </div>
        </div>
        <ng-container *ngIf="selectedLeaguesWithCountries$ | async as leagues">
            <ng-container *ngFor="let league of leagues">
                <ng-container *ngIf="league.selected === true">
                    <p-card header="{{league.name}}" class="ui-g-3" (dblclick)="toggleStanding(league.league_id)">
                        <p-header>
                            {{league.country}}
                        </p-header>
                        <div class="card-text">start : {{league.startSeason | date: 'dd/MM/yyyy'}}</div>
                        <div class="card-text">einde : {{league.endSeason | date: 'dd/MM/yyyy'}}</div>
                        <div class="card-text">seizoen : {{league.season}} - {{(league.season +1)}} </div>
                        <div class="card-text">nbsp;</div>
                        <img [src]="league.logo" alt="" class="img-responsive" style="height: 150px">
                    </p-card>
                </ng-container>
            </ng-container>
        </ng-container>
        <bts-standing [showStanding]="showStanding"></bts-standing>
    </div>
</p-panel>
