<h4>Reusable CSS widgets for your applications.</h4>

<div class="p-grid">
	<div class="p-col-12">
			<h4>Summary Boxes</h4>
			<div class="p-grid">
                <div class="p-col-12 p-md-4">
                    <div class="card clearfix widget-summary">
                        <span class="title">Users</span>
                        <span class="detail">Number of visitors</span>
                        <span class="count visitors">12</span>
                    </div>
                </div>
                <div class="p-col-12 p-md-4">
                    <div class="card clearfix widget-summary">
                        <span class="title">Sales</span>
                        <span class="detail">Number of purchases</span>
                        <span class="count purchases">534</span>
                    </div>
                </div>
                <div class="p-col-12 p-md-4">
                    <div class="card clearfix widget-summary">
                        <span class="title">Revenue</span>
                        <span class="detail">Income for today</span>
                        <span class="count revenue">$3,200</span>
                    </div>
                </div>
			</div>
	</div>

	<div class="p-col-12">
        <h4>Highlight Boxes</h4>
        <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="widget-highlight-box">
                    <div class="initials" style="background-color:#007be5;color:#00448f">TV</div>
                    <div class="card">
                        <span class="highlight-box-icon pi pi-eye"></span>
                        <span>Total Views</span>
                        <span class="count">523</span>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="widget-highlight-box">
                    <div class="initials" style="background-color:#ef6262;color:#a83d3b">TI</div>
                    <div class="card">
                        <span class="highlight-box-icon pi pi-question-circle"></span>
                        <span>Total Issues</span>
                        <span class="count">81</span>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="widget-highlight-box">
                    <div class="initials" style="background-color:#20d077;color:#038d4a">OI</div>
                    <div class="card">
                        <span class="highlight-box-icon pi pi-question-circle"></span>
                        <span>Open Issues</span>
                        <span class="count">21</span>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="widget-highlight-box">
                    <div class="initials" style="background-color:#f9c851;color:#b58c2b">CI</div>
                    <div class="card">
                        <span class="highlight-box-icon pi pi-check"></span>
                        <span>Closed Issues</span>
                        <span class="count">60</span>
                    </div>
                </div>
            </div>
        </div>
	</div>

    <div class="p-col-12 p-md-4">
        <div class="card widget-activity-list">
        <h4>Activity</h4>
            <div class="activity-header">
                <div class="p-grid">
                    <div class="p-col-6">
                        <span style="font-weight:bold">Last Activity</span>
                        <p>Updated 1 minute ago</p>
                    </div>
                    <div class="p-col-6" style="text-align:right">
                        <button type="button" label="Refresh" icon="pi pi-refresh" pButton></button>
                    </div>
                </div>
            </div>
            <ul class="activity-list">
                <li>
                    <div class="p-d-flex p-jc-between p-ai-center p-mb-3">
                        <h5 class="activity p-m-0">Income</h5>
                        <div class="count">$900</div>
                    </div>
                    <div class="activity-progress activity-progress-1">
                        <div></div>
                    </div>
                </li>
                <li>
                    <div class="p-d-flex p-jc-between p-ai-center p-mb-3">
                        <h5 class="activity p-m-0">Tax</h5>
                        <div class="count" style="background-color:#f9c851">$250</div>
                    </div>
                    <div class="activity-progress activity-progress-2">
                        <div></div>
                    </div>
                </li>
                <li>
                    <div class="p-d-flex p-jc-between p-ai-center p-mb-3">
                        <h5 class="activity p-m-0">Invoices</h5>
                        <div class="count" style="background-color:#20d077">$125</div>
                    </div>
                    <div class="activity-progress activity-progress-3">
                        <div></div>
                    </div>
                </li>
                <li>
                    <div class="p-d-flex p-jc-between p-ai-center p-mb-3">
                        <h5 class="activity p-m-0">Expenses</h5>
                        <div class="count" style="background-color:#f9c851">$250</div>
                    </div>
                    <div class="activity-progress activity-progress-4">
                        <div></div>
                    </div>
                </li>
                <li>
                    <div class="p-d-flex p-jc-between p-ai-center p-mb-3">
                        <h5 class="activity p-m-0">Bonus</h5>
                        <div class="count" style="background-color:#007be5">$350</div>
                    </div>
                    <div class="activity-progress activity-progress-5">
                        <div></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="p-col-12 p-md-6 p-lg-4">
        <div class="card p-fluid">
            <h4>Contact Us</h4>
            <div class="p-grid">
                <div class="p-col-12">
                    <input id="name" type="text" pInputText placeholder="Name"/>
                </div>
                <div class="p-col-12">
                    <input id="age" type="text" pInputText placeholder="Age"/>
                </div>
                <div class="p-col-12">
                    <textarea  rows="3" cols="30" id="message" pInputTextarea placeholder="Message"></textarea>
                </div>
                <div class="p-col-12">
                    <button type="button" label="Send" icon="pi pi-plus" pButton></button>
                </div>
            </div>
        </div>

        <div class="card">
            <h4>Image List</h4>

            <ul class="widget-image-list">
                <li>
                    <span>Product</span>
                    <span>Sales</span>
                </li>
                <li>
					<span>
						<img src="assets/demo/images/product/bamboo-watch.jpg" alt="diamond-layout" />
						<span>Bamboo Watch</span>
					</span>
                    <span class="listitem-value">82</span>
                </li>
                <li>
					<span>
						<img src="assets/demo/images/product/blue-band.jpg" alt="diamond-layout" />
						<span>Blue Band</span>
					</span>
                    <span class="listitem-value">75</span>
                </li>
                <li>
					<span>
						<img src="assets/demo/images/product/game-controller.jpg" alt="diamond-layout" />
						<span>Game Controller</span>
					</span>
                    <span class="listitem-value">64</span>
                </li>
                <li>
					<span>
						<img src="assets/demo/images/product/lime-band.jpg" alt="diamond-layout" />
						<span>Lime Band</span>
					</span>
                    <span class="listitem-value">62</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="p-col-12 p-lg-4">
        <div class="card widget-contacts">
            <h4>Contacts</h4>
            <ul class="contacts">
                <li>
                    <a href="#">
                        <img src="assets/layout/images/avatar_1.png" width="35">
                        <span class="name">Claire Williams</span>
                        <span class="email">clare@pf-omega.com</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/layout/images/avatar_2.png" width="35">
                        <span class="name">Jason Dourne</span>
                        <span class="email">jason@pf-omega.com</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/layout/images/avatar_3.png" width="35">
                        <span class="name">Jane Davidson</span>
                        <span class="email">jane@pf-omega.com</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/layout/images/avatar_4.png" width="35">
                        <span class="name">Tony Corleone</span>
                        <span class="email">tony@pf-omega.com</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="widget-pricing-box">
            <span class="pricing-name">Standard</span>
            <div class="pricing-fee">5$</div>

            <p>200GB Disk Space</p>
            <p>1TB Monthly Bandwith</p>
            <p>50 Email Accounts</p>
            <p>10 Subdomain</p>
        </div>
    </div>
</div>
