<div class="page-header">
    <h1>competities</h1>
    <hr>
</div>

<ng-container *ngIf="leagues$ | async as leagues">
<div class="row" *ngFor="let league of leagues">
    <div class="col-sm-4">
        <div class="card bg-light mb-3">
            <div class="card-header">{{league.name}}</div>
            <div class="card-body">
                <h4 class="card-title">Light card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>
</ng-container>
