<ng-container *ngIf="errorMessage$ | async as errorMessage">
    <p-message severity="error" text="{{errorMessage.errorMessage}}"></p-message>
    <p-message severity="error" text="{{errorMessage.userFriendlyMessage}}"></p-message>
</ng-container>
<ng-container *ngIf="resultDeleted$ | async as resultDeleted">
    <p-message severity="info" text="De resultaten van {{selectedLeague.name}} zijn verwijderd."></p-message>
</ng-container>
<ng-container *ngIf="seasonUpdated$ | async as seizoenUpdate">
    <p-message severity="info" text="Het seizoen werd aangepast: huidig seizoen : {{seizoenUpdate.value}}."></p-message>
</ng-container>

<h5>Admin pagina</h5>
<p-accordion [multiple]="true">
    <p-accordionTab header="Overzicht admin gegevens">
        <ng-container *ngIf="adminDataList$ | async as admin">
            <p-table [value]="admin" [autoLayout]="true" [columns]="columns" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns">
                            {{ col.data ? (rowData[col.field]| date : col.format) : rowData[col.field] }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-container>
    </p-accordionTab>
    <p-accordionTab header="Verwijder of wijzig gegevens">
        <div class="p-grid">
            <div class="p-col-2">
                <div class="box">Verwijder resultaten</div>
            </div>
            <div class="p-col-2">
                <ng-container *ngIf="allLeagues$ | async as leagues">
                    <div class="box">
                        <p-dropdown [options]="leagues" dataKey="round" [(ngModel)]="selectedLeague" optionLabel="name"  placeholder="Kies een competitie"></p-dropdown>
                    </div>
                </ng-container>
            </div>
            <div class="p-col-2" *ngIf="selectedLeague">
                <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
                <div class="box"><button pButton type="button" label="Verwijder resultaten" (click)="deleteResults()" style="margin-right: .5rem"></button></div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-2"></div>
        </div>
        <div class="p-grid">
            <div class="p-col-2">
                <div class="box">Wijzig seizoen</div>
            </div>
            <div class="p-col-2">
                <ng-container *ngIf="allSeasons">
                    <div class="box">
                        <p-dropdown [options]="allSeasons" [(ngModel)]="selectedSeason" optionLabel="value"  placeholder="Kies een seizoen"></p-dropdown>
                    </div>
                </ng-container>
            </div>
            <div class="p-col-2" *ngIf="selectedSeason">
                <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
                <div class="box"><button pButton type="button" label="Verander seizoen" (click)="updateSeason()" style="margin-right: .5rem"></button></div>
            </div>
        </div>
    </p-accordionTab>
</p-accordion>
