<ng-container *ngIf="errorMessage$ | async as errorMessage">
    <p-message severity="error" text="{{errorMessage.errorMessage}}"></p-message>
    <p-message severity="error" text="{{errorMessage.userFriendlyMessage}}"></p-message>
</ng-container>
<ng-container *ngIf="showResultMessage">
    <p-message severity="info" text="De resultaten van {{selectedLeague.name}} zijn verwijderd."></p-message>
</ng-container>
<ng-container *ngIf="showStandingMessage">
    <p-message severity="info" text="De rangschikking(en) van {{selectedLeagueStanding.name}} zijn verwijderd."></p-message>
</ng-container>
<ng-container *ngIf="showLeagueMessage">
    <p-message severity="info" text="De competitie {{selectedLeagueDelete.name}} werd verwijderd."></p-message>
</ng-container>
<ng-container *ngIf="seasonUpdated$ | async as seizoenUpdate">
    <p-message severity="info" text="Het seizoen werd aangepast: huidig seizoen : {{seizoenUpdate.value}}."></p-message>
</ng-container>
<ng-container *ngIf="selectedRoundUpdated$ | async as roundUpdated">
    <p-message severity="info" text="De huidige speelronde voor {{selectedLeagueRound.name}} werd aangepast naar speelronde {{roundUpdated.playRound}}"></p-message>
</ng-container>

<h5>Admin pagina</h5>
<p-accordion [multiple]="true">
    <p-accordionTab header="Overzicht admin gegevens">
        <ng-container *ngIf="adminDataList$ | async as admin">
            <p-table [value]="admin" [autoLayout]="true" [columns]="columns" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns">
                            {{ col.data ? (rowData[col.field]| date : col.format) : rowData[col.field] }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-container>
    </p-accordionTab>
    <p-accordionTab header="Verwijder of wijzig gegevens">
        <!-- verwijder resulaten -->
        <div class="p-grid">
            <div class="p-col-2">
                <div class="box">Verwijder resultaten</div>
            </div>
            <div class="p-col-2">
                <ng-container *ngIf="allLeagues$ | async as leagues">
                    <div class="box">
                        <p-dropdown [options]="leagues" dataKey="round" [(ngModel)]="selectedLeague" optionLabel="name"  placeholder="Kies een competitie"></p-dropdown>
                    </div>
                </ng-container>
            </div>
            <div class="p-col-2" *ngIf="selectedLeague">
                <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
                <div class="box"><button pButton type="button" label="Verwijder resultaten" (click)="deleteResults()" style="margin-right: .5rem"></button></div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-2"></div>
        </div>
        <!-- verwijder rangschikking -->
        <div class="p-grid">
            <div class="p-col-2">
                <div class="box">Verwijder rangschikking</div>
            </div>
            <div class="p-col-2">
                <ng-container *ngIf="allLeagues$ | async as leagues">
                    <div class="box">
                        <p-dropdown [options]="leagues" dataKey="round" [(ngModel)]="selectedLeagueStanding" optionLabel="name"  placeholder="Kies een competitie"></p-dropdown>
                    </div>
                </ng-container>
            </div>
            <div class="p-col-2" *ngIf="selectedLeagueStanding">
                <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
                <div class="box"><button pButton type="button" label="Verwijder rangschikking" (click)="deleteStanding()" style="margin-right: .5rem"></button></div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-2"></div>
        </div>
        <!-- verwijder league -->
        <div class="p-grid">
            <div class="p-col-2">
                <div class="box">Verwijder competitie</div>
            </div>
            <div class="p-col-2">
                <ng-container *ngIf="allLeagues$ | async as leagues">
                    <div class="box">
                        <p-dropdown [options]="leagues" dataKey="round" [(ngModel)]="selectedLeagueDelete" optionLabel="name"  placeholder="Kies een competitie"></p-dropdown>
                    </div>
                </ng-container>
            </div>
            <div class="p-col-2" *ngIf="selectedLeagueDelete">
                <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
                <div class="box"><button pButton type="button" label="Verwijder competitie" (click)="deleteLeague()" style="margin-right: .5rem"></button></div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-2"></div>
        </div>
        <!-- wijzig seizoen -->
        <div class="p-grid">
            <div class="p-col-2">
                <div class="box">Wijzig seizoen</div>
            </div>
            <div class="p-col-2">
                <div class="box">
                    huidig seizoen : {{selectedSeason}}
                </div>
            </div>
            <div class="p-col-2">
                <ng-container *ngIf="allSeasons">
                    <div class="box">
                        <p-dropdown [options]="allSeasons" [(ngModel)]="selectedSeasonAdmin" optionLabel="value" placeholder="Kies een seizoen"></p-dropdown>
                    </div>
                </ng-container>
            </div>
            <div class="p-col-2" *ngIf="selectedSeasonAdmin">
                <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
                <div class="box"><button pButton type="button" label="Verander seizoen" (click)="updateSeason()" style="margin-right: .5rem"></button></div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-2"></div>
        </div>
        <!-- wijzig huidige speeldag -->
        <div class="p-grid">
            <div class="p-col-2">
                <div class="box">Wijzig huidige speeldag</div>
            </div>
            <div class="p-col-2">
                <ng-container *ngIf="allLeagues$ | async as leagues">
                    <div class="box">
                        <p-dropdown [options]="leagues" dataKey="round" [(ngModel)]="selectedLeagueRound" optionLabel="name"  placeholder="Kies een competitie"></p-dropdown>
                    </div>
                </ng-container>
            </div>
            <div class="p-col-2" *ngIf="selectedLeagueRound">
                <div class="box">
                    huidige ronde : {{getCurrentRound().playRound}}
                </div>
            </div>
            <div class="p-col-2">
                <ng-container *ngIf="selectedLeagueRound as league">
                    <div class="box">
                        <p-dropdown [options]="league.roundDtos" dataKey="round" [(ngModel)]="selectedRound" optionLabel="round"  placeholder="Kies een speelronde"></p-dropdown>
                    </div>
                </ng-container>
            </div>
            <div class="p-col-2" *ngIf="selectedRound">
                <div class="box"><button pButton type="button" label="Verander ronde" (click)="updateRound()" style="margin-right: .5rem"></button></div>
            </div>
        </div>
    </p-accordionTab>

</p-accordion>
