<p-panel header="Competities">
    <div class="ui-g">
        <form [formGroup]="leagueForm">
            <div class="ui-g-12">
                <div class="page-header">
                    <h1>Geselecteerde competities
                        <button class="leagueButton" pButton type="button" icon="fa fa-check" label="Verwijder"
                                [disabled]="removeButtonDisabled()" (click)="updateToAvailableLeagues()"></button>
                    </h1>
                    <hr>
                </div>
            </div>

            <ng-container *ngIf="currentLeagues as selectedLeagues">
                <ng-container *ngFor="let league of selectedLeagues">
                    <ng-container *ngIf="league.selected === true">
                        <p-card header="{{league.name}}" class="ui-g-3">
                            <p-header>
                                <p-checkbox label="Verwijder" class="select" name="selectedCheckBox"
                                            value="{{league.league_id}}"
                                            inputId="{{league.league_id}}"
                                            [formControl]="leagueForm.controls['toAvailableLeagues']"
                                            (onChange)="handleToAvailableLeagues()"></p-checkbox>
                            </p-header>
                            <div class="card-text">start : {{league.startSeason | date: 'dd/MM/yyyy'}}</div>
                            <div class="card-text">einde : {{league.endSeason | date: 'dd/MM/yyyy'}}</div>
                            <div class="card-text">seizoen : {{league.season}} - {{(league.season + 1)}} </div>
                            <div class="card-text">&nbsp;</div>
                            <img [src]="league.logo" alt="" class="img-responsive" style="height: 150px">
                        </p-card>
                    </ng-container>
                </ng-container>
            </ng-container>

            <div class="ui-g-12">
                <div class="page-header">
                    <h1>Beschikbare competities
                        <button class="leagueButton" pButton type="button" icon="fa fa-check" label="Voeg toe"
                                [disabled]="selectButtonDisabled()" (click)="updateToSelectedLeagues()"></button>
                    </h1>
                    <hr>
                </div>
            </div>
            <ng-container *ngIf="currentLeagues as leagues">
                <ng-container *ngFor="let league of leagues">
                    <ng-container *ngIf="league.selected === false">
                        <p-card header="{{league.name}} " class="ui-g-3">
                            <p-header>
                                <p-checkbox label="Selecteer" class="select" name="availableCheckBox"
                                            value="{{league.league_id}}"
                                            inputId="{{league.league_id}}"
                                            [formControl]="leagueForm.controls['toSelectedLeagues']"
                                            (onChange)="handleToSelectedLeagues()"></p-checkbox>
                            </p-header>
                            <div class="card-text">start : {{league.startSeason | date: 'dd/MM/yyyy'}}</div>
                            <div class="card-text">einde : {{league.endSeason | date: 'dd/MM/yyyy'}}</div>
                            <div class="card-text">seizoen : {{league.season}} - {{(league.season + 1)}} </div>
                            <div class="card-text">&nbsp;</div>
                            <img [src]="league.logo" alt="" class="img-responsive" style="height: 150px">
                        </p-card>
                    </ng-container>

                </ng-container>
            </ng-container>
        </form>
    </div>
</p-panel>

