<ng-container *ngIf="errorMessage$ | async as errorMessage">
    <p-message severity="error" text="{{errorMessage}}"></p-message>
</ng-container>
<ng-container *ngIf="isCalculating">
    <p-message severity="info" text="De herberekening is bezig..."></p-message>
</ng-container>

<div class="card">
        <p-table #dt1 [value]="forecastData" dataKey="league.name" sortField="league.name" sortMode="single" (onSort)="onSort()"
                 [expandedRowKeys]="expandedRows" (onRowExpand)="onRowExpand()" (onRowCollapse)="onRowCollapse()">
            <ng-template pTemplate="caption">
                <div class="p-d-flex">
                    <div class="p-mr-1">
                        <ng-container *ngIf="algorithms$ | async as algorithms">
                            <p-dropdown [options]="algorithms" [(ngModel)]="selectedAlgorithm" optionLabel="name" (onChange)="onAlgorithmChange()"></p-dropdown>
                        </ng-container>
                    </div>
                    <div class="p-col-2 p-mr-2">(threshold: {{selectedAlgorithm?.threshold}})</div>
                    <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                    <button pButton label="Herbereken" class="p-ml-auto"   type="button"  (click)="runForecast() "></button>
                </div>


            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <a style="cursor: pointer;font-size: 16px; color:teal;" (click)="expandAll()"><i
                            *ngIf="!isExpanded" class="fa fa-plus-circle" aria-hidden="true"></i>
                            <i *ngIf="isExpanded" class="fa fa-minus-circle" aria-hidden="true"></i></a>
                    </th>
                    <th pSortableColumn="league.name">
                        Competitie
                        <p-sortIcon field="league.name"></p-sortIcon>
                        <p-columnFilter type="text" field="league.name" display="menu"></p-columnFilter>
                    </th>
                    <th>Team</th>
                    <th>Volgende wedstrijd</th>
                    <th>
                        score
                        <p-multiSelect class="margin" [options]="scores" [(ngModel)]="selectedScores" optionLabel="label" optionValue="value" (onClick)="getRequestedScoreValue()"></p-multiSelect>

                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-forecast let-rowIndex="rowIndex" let-expanded="expanded">
                <tr>
                    <td colspan="5">
                        <button type="button" pButton pRipple [pRowToggler]="forecast" class="p-button-text p-button-rounded p-button-plain p-mr-2" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        <span class="p-text-bold p-ml-2">{{forecast.league.name}}    -> Ronde:{{forecast.round}}</span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-forecast>
                <tr>
                    <td colspan="5">
                        <p-table [value]="forecast.forecastDetails">
                            <ng-template pTemplate="body" let-forecastDetail>
                                <tr>
                                        <td></td>
                                        <td>{{forecastDetail.team?.name}}</td>
                                        <td>
                                            <ng-container *ngIf="forecastUtility.isSameHomeTeam(forecastDetail)">
                                                <strong>{{forecastDetail.nextGame?.homeTeam?.name}}</strong>
                                            </ng-container>
                                            <ng-container *ngIf="!forecastUtility.isSameHomeTeam(forecastDetail)">
                                                {{forecastDetail.nextGame?.homeTeam?.name}}
                                            </ng-container>
                                            -
                                            <ng-container *ngIf="forecastUtility.isSameAwayTeam(forecastDetail)">
                                                <strong>{{forecastDetail.nextGame?.awayTeam?.name}}</strong>
                                            </ng-container>
                                            <ng-container *ngIf="!forecastUtility.isSameAwayTeam(forecastDetail)">
                                                {{forecastDetail.nextGame?.awayTeam?.name}}
                                            </ng-container>
                                            <br/>
                                            ({{forecastDetail.nextGame?.eventDate | date: 'dd/MM/yyyy'}})</td>
                                        <td><ng-container *ngIf="forecastDetail.forecastResult != null">
                                                <i class="pi pi-bell p-mr-2" style="background-color: #ef6262" (click)="showWarningMessage(forecastDetail)"></i>
                                            </ng-container>
                                            <i class="pi pi-question-circle p-mr-2" (click)="showScoreInfo(forecastDetail)"></i>{{forecastDetail.finalScore}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </td>
                </tr>
             </ng-template>
        </p-table>
</div>

<p-dialog [(visible)]="displayScoreInfo" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <p [innerHTML]="selectedForecastDetail?.message"></p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayScoreInfo=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="displayWarningMessage" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <p [innerHTML]="warningForecastDetail?.errorMessage"></p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayWarningMessage=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
