<ng-container *ngIf="error">
    <div class="alert alert-danger">
        <strong>{{error.userFriendlyMessage}}</strong><br/>Er ging iets fout.  Meer info :<br/>
        {{error.errorMessage}}
    </div>
</ng-container>

<div class="page-header">
    <h1>Kies uit volgende competitie(s)</h1>
    <hr>
</div>
<ng-container *ngIf="selectedLeaguesWithCountries$ | async as leagues">
    <div class="row">
        <div class="col-sm-4" *ngFor="let league of leagues">
            <div class="card bg-light mb-3" (click)="toggleChild()">
                <div class="card-header">{{league.country}}</div>
                <div class="card-body">
                    <h4 class="card-title">{{league.name}}</h4>
                    <div class="card-text">start : {{league.startSeason | date: 'dd/MM/yyyy'}}</div>
                    <div class="card-text">einde : {{league.endSeason | date: 'dd/MM/yyyy'}}</div>
                    <div class="card-text">Aantal teams : {{league.teamDtos.length}}</div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<bts-standing [showStanding]="showStanding"></bts-standing>
