<ng-container *ngIf="isSavedOK">
    <p-message class="p-mb-2" severity="info" text="{{confirmationMessage}}"></p-message>
</ng-container>
<ng-container *ngIf="isUpdateOK">
    <p-message class="p-mb-2" severity="info" text="{{updateMessage}}"></p-message>
</ng-container>
<ng-container *ngIf="showDeleteMessage">
    <p-message class="p-mb-2" severity="info" text="Het algoritme werd verwijderd."></p-message>
</ng-container>
<ng-container *ngIf="errorMessage$ | async as errorMessage">
    <p-message severity="error" text="{{errorMessage}}"></p-message>
</ng-container>

<p-panel header="Algoritme">
    <!-- no algorithm  -->
    <div *ngIf="isEmptyAlgorithm">
        <h5>Huidig algoritme</h5>
        <div class="p-field p-grid">
            <div class="p-col">
                Er is nog geen algoritme gedefinieerd
            </div>
        </div>
        <div class="p-field p-grid">
            <div class="p-col-12 p-grid"></div>
        </div>
        <div class="p-field p-grid">
            <div class="p-col-12 p-grid">
                <button pButton type="button" label="Voeg toe" style="margin-right: .5rem"  (click)="openAddForm()"></button>
            </div>
        </div>
    </div>
    <!-- existing algorithm  -->
    <div *ngIf="!isEmptyAlgorithm">
        <h4>Huidig algoritme</h4>
        <div class="p-grid p-mt-3">
            <div class="p-col-1">
                <label for="name">Naam: </label>
            </div>
            <div class="p-col-1">
                <label><strong>{{currentAlgorithm?.name}}</strong></label>
            </div>
            <div class="p-col-1">
                <label for="name">threshold: </label>
            </div>
            <div class="p-col-1">
                <label><strong>{{currentAlgorithm?.threshold}}</strong></label>
            </div>
        </div>
        <h5>Thuis</h5>
        <div class="p-grid">
            <div class="p-col-1">
                <label for="name">Winst: </label>
            </div>
            <div class="p-col-1">
                <label><strong>{{currentAlgorithm?.homePoints.win}}</strong></label>
            </div>
            <div class="p-col-1">
                <label for="name">Gelijk: </label>
            </div>
            <div class="p-col-1">
                <label><strong>{{currentAlgorithm?.homePoints.draw}}</strong></label>
            </div>
            <div class="p-col-1">
                <label for="name">Verlies: </label>
            </div>
            <div class="p-col-1">
                <label><strong>{{currentAlgorithm?.homePoints.lose}}</strong></label>
            </div>
            <div class="p-col-1">
                <label for="name">Bonus: </label>
            </div>
            <div class="p-col-1">
                <label><strong>{{currentAlgorithm?.homeBonus}}</strong></label>
            </div>
        </div>
        <h5>Uit punten</h5>
        <div class="p-grid p-mt-1">
            <div class="p-col-1">
                <label for="name">Winst: </label>
            </div>
            <div class="p-col-1">
                <label><strong>{{currentAlgorithm?.awayPoints.win}}</strong></label>
            </div>
            <div class="p-col-1">
                <label for="name">Gelijk: </label>
            </div>
            <div class="p-col-1">
                <label><strong>{{currentAlgorithm?.awayPoints.draw}}</strong></label>
            </div>
            <div class="p-col-1">
                <label for="name">Verlies: </label>
            </div>
            <div class="p-col-1">
                <label><strong>{{currentAlgorithm?.awayPoints.lose}}</strong></label>
            </div>
            <div class="p-col-1">
                <label for="name">Malus: </label>
            </div>
            <div class="p-col-1">
                <label><strong>{{currentAlgorithm?.awayMalus}}</strong></label>
            </div>
        </div>
        <div class="p-field p-grid p-mt-5">
            <div class="p-col-2" *ngIf="!addAlgorithm && !viewOthers && !editAlgorithm">
                <button pButton type="button" label="Voeg toe" style="margin-right: .5rem"
                        (click)="openAddForm()"></button>
                <button pButton type="button" label="Wijzig" style="margin-right: .10rem"  (click)="openEditForm()"></button>
            </div>
            <div class="p-col-2" *ngIf="!addAlgorithm && allButCurrentAlgorithms.length > 0 && !viewOthers">
                <button pButton type="button" label="Overzicht anderen" style="margin-right: .5rem"
                        (click)="openOthers()"></button>
            </div>
            <div class="p-col-2" *ngIf="addAlgorithm || editAlgorithm || viewOthers">
                <button pButton type="button" label="Undo" style="margin-right: .5rem"
                        (click)="undoCrudForm()"></button>
            </div>
        </div>
    </div>

    <!-- overview other algorithms -->
    <div *ngIf="viewOthers">
        <p-table [value]="allButCurrentAlgorithms" class="p-mt-2">
            <ng-template pTemplate="header">
                <tr>
                    <th>Naam</th>
                    <th>Thuis winst</th>
                    <th>Thuis gelijk</th>
                    <th>Thuis verlies</th>
                    <th>Thuis bonus</th>
                    <th>Uit winst</th>
                    <th>Uit gelijk</th>
                    <th>Uit verlies</th>
                    <th>Uit malus</th>
                    <th></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-algorithme>
                <tr>
                    <td>{{algorithme.name}}</td>
                    <td>{{algorithme.homePoints.win}}</td>
                    <td>{{algorithme.homePoints.draw}}</td>
                    <td>{{algorithme.homePoints.lose}}</td>
                    <td>{{algorithme.homeBonus}}</td>
                    <td>{{algorithme.awayPoints.win}}</td>
                    <td>{{algorithme.awayPoints.draw}}</td>
                    <td>{{algorithme.awayPoints.lose}}</td>
                    <td>{{algorithme.awayMalus}}</td>
                    <td><button pButton type="button" label="maak huidig" style="margin-right: .5rem"
                            (click)="setAlgorithmCurrent(algorithme)"></button></td>
                    <td><p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
                        <button pButton type="button" label="verwijder" style="margin-right: .5rem"  (click)="deleteAlgorithme(algorithme)"></button></td>
                </tr>
            </ng-template>
        </p-table>
    </div>


    <!-- add algorithm  -->
    <div *ngIf="addAlgorithm || editAlgorithm">
        <form [formGroup]="crudAlgorithmForm" (ngSubmit)="onAddSubmit()">
            <h4 *ngIf="addAlgorithm">Nieuw algoritme</h4>
            <h4 *ngIf="editAlgorithm">Verander algoritme</h4>
            <div class="p-fluid p-grid p-formgrid p-mt-3">
                <div class="p-field p-col-12 p-md-3">
                    <label for="name">Naam</label>
                    <input *ngIf="addAlgorithm" id="name" type="text" aria-describedby="name-help" [ngClass]="{'ng-invalid ng-dirty': submitted && addForm.name.errors}" formControlName="name" pInputText />
                    <div *ngIf="submitted && addForm.name.errors" class="p-error">
                        <div *ngIf="addForm.name.errors.required">Naam is verplicht</div>
                    </div>
                    <div *ngIf="editAlgorithm" class="p-col-1">
                        <label><strong>{{currentAlgorithm?.name}}</strong></label>
                    </div>

                </div>
                <div class="p-field p-col-12 p-md-3 p-ml-6">
                        <label for="threshold">Threshold</label>
                        <p-inputNumber [showButtons]="true" id="threshold" inputId="threshold" [min]="0" [max]="150"
                                       [step]="10" formControlName="threshold"></p-inputNumber>
                </div>
            </div>
            <!-- add form -->
            <div *ngIf="addAlgorithm" class="p-fluid p-grid p-formgrid p-mt-2 p-mb-4">
                <div class="p-field-checkbox p-col-12 p-md-3">
                    <p-checkbox id="current" binary="true" formControlName="current"></p-checkbox>
                    <label for="current" class="p-ml-3">Huidig algoritme</label>
                </div>
            </div>
            <fieldset *ngIf="addAlgorithm">
                <legend><h5>Values</h5></legend>
                <h5>Thuis</h5>
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-2">
                        <label for="homeWin">Winst</label>
                        <p-inputNumber [showButtons]="true" id="homeWin" inputId="homeWin" [min]="0" [max]="100"
                                       [step]="5" formControlName="homeWin"></p-inputNumber>
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label for="homeDraw">Gelijk</label>
                        <p-inputNumber [showButtons]="true" id="homeDraw" inputId="homeDraw" [min]="0" [max]="60"
                                       [step]="5" formControlName="homeDraw"></p-inputNumber>
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label for="homeLost">Verlies</label>
                        <p-inputNumber [showButtons]="true" id="homeLost" inputId="homeLost" [min]="-80" [max]="50"
                                       [step]="5" formControlName="homeLost"></p-inputNumber>
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label for="homeBonus">Bonus</label>
                        <p-inputNumber [showButtons]="true" id="homeBonus" inputId="homeBonus" [min]="0" [max]="50"
                                       [step]="5" formControlName="homeBonus"></p-inputNumber>
                    </div>
                </div>
                <h5>Uit</h5>
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-2">
                        <label for="awayWin">Winst</label>
                        <p-inputNumber [showButtons]="true" id="awayWin" inputId="awayWin" [min]="0" [max]="100"
                                       [step]="5" formControlName="awayWin"></p-inputNumber>
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label for="awayDraw">Gelijk</label>
                        <p-inputNumber [showButtons]="true" id="awayDraw" inputId="awayDraw" [min]="0" [max]="60"
                                       [step]="5" formControlName="awayDraw"></p-inputNumber>
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label for="awayLost">Verlies</label>
                        <p-inputNumber [showButtons]="true" id="awayLost" inputId="awayLost" [min]="-60" [max]="60"
                                       [step]="5" formControlName="awayLost"></p-inputNumber>
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label for="awayMalus">Malus</label>
                        <p-inputNumber [showButtons]="true" id="awayMalus" inputId="awayMalus" [min]="-50" [max]="0"
                                       [step]="5" formControlName="awayMalus"></p-inputNumber>
                    </div>
                </div>
            </fieldset>
            <!-- end add form -->
            <div class="p-fluid p-grid p-formgrid p-mt-6">
                <p-button type="submit" label="Submit" icon="pi pi-check" iconPos="left"></p-button>
                <p-button type="button" label="Reset" (onClick)="onAddReset()" class="p-ml-6" icon="pi pi-times-circle" *ngIf="addAlgorithm"></p-button>
            </div>
        </form>
    </div>

</p-panel>
